<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.code.dao.AgtFlowNodeDao">

    <insert id="batchInsert">
        INSERT INTO `agt_flow_node`(`id`,`node_id`, `flow_id`, `input`, `output`, `type`, `name`, `properties`)
        VALUES
        <foreach collection="agtFlowNodeList" item="item" separator=",">
            (#{item.id},#{item.nodeId},#{item.flowId},#{item.input},#{item.output},#{item.type},#{item.name},#{item.properties})
        </foreach>
    </insert>

    <select id="findNodeByFlowId" resultType="com.cl.code.model.AgtFlowNode">
        SELECT node.node_id AS nodeId,
               node.flow_id AS flowId,
               node.input,
               node.output,
               node.type,
               node.name,
               node.properties
        FROM agt_flow flow
                 LEFT JOIN agt_flow_node node ON node.flow_id = flow.flow_id
        WHERE flow.flow_id = #{flowId}
    </select>

</mapper>
